### Importing libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
diabetes_data = pd.read_csv('datasets/diabetes.csv')

diabetes_data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

### Missing value ratio

In [3]:
diabetes_data['Glucose'].replace(0, np.nan, inplace= True)
diabetes_data['BloodPressure'].replace(0, np.nan, inplace= True)
diabetes_data['SkinThickness'].replace(0, np.nan, inplace= True)
diabetes_data['Insulin'].replace(0, np.nan, inplace= True)
diabetes_data['BMI'].replace(0, np.nan, inplace= True)

In [4]:
diabetes_data.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

### Calculating missing value ratio
We can drop those column for which missing value ratio is high. In our case SkinThickness and Insulin column has 29% and 48% missing values so we can drop these columns

In [5]:
diabetes_data['Glucose'].isnull().sum() / len(diabetes_data) * 100

0.6510416666666667

In [6]:
diabetes_data['BloodPressure'].isnull().sum() / len(diabetes_data) *100

4.557291666666666

In [7]:
diabetes_data['SkinThickness'].isnull().sum() / len(diabetes_data) * 100

29.557291666666668

In [8]:
diabetes_data['Insulin'].isnull().sum() / len(diabetes_data) * 100

48.69791666666667

In [9]:
diabetes_data['BMI'].isnull().sum() / len(diabetes_data) * 100

1.4322916666666665

In [13]:
diabetes_data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [15]:
diabetes_data_trimmed = diabetes_data.dropna(thresh=int(diabetes_data.shape[0] * .9), axis=1)

diabetes_data_trimmed.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [17]:
diabetes_data = pd.read_csv('datasets/diabetes_processed.csv')

diabetes_data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.000000,35.0,219.028414,33.6,0.627,50.0,1
1,1.0,85.0,66.000000,29.0,70.341550,26.6,0.351,31.0,0
2,8.0,183.0,64.000000,32.0,270.573172,23.3,0.672,32.0,1
3,1.0,89.0,66.000000,23.0,94.000000,28.1,0.167,21.0,0
4,0.0,137.0,40.000000,35.0,168.000000,43.1,2.288,33.0,1
5,5.0,116.0,74.000000,32.0,127.840221,25.6,0.201,30.0,0
6,3.0,78.0,50.000000,32.0,88.000000,31.0,0.248,26.0,1
7,10.0,115.0,72.405184,32.0,136.570245,35.3,0.134,29.0,0
8,2.0,197.0,70.000000,45.0,543.000000,30.5,0.158,53.0,1
9,8.0,125.0,96.000000,32.0,155.571480,32.0,0.232,54.0,1

In [18]:
X = diabetes_data.drop('Outcome', axis = 1)
Y = diabetes_data['Outcome']

In [20]:
X.var(axis=0)

Pregnancies                   11.354056
Glucose                      926.489244
BloodPressure                146.321591
SkinThickness                 78.969986
Insulin                     9449.130490
BMI                           47.270664
DiabetesPedigreeFunction       0.109779
Age                          138.303046
dtype: float64

In [27]:
from sklearn.preprocessing import minmax_scale

X_scaled = pd.DataFrame(minmax_scale(X, feature_range=(0, 10)), columns=X.columns)

In [28]:
X_scaled.var()

Pregnancies                 3.928739
Glucose                     3.856355
BloodPressure               1.523548
SkinThickness               0.933010
Insulin                     1.270004
BMI                         1.976851
DiabetesPedigreeFunction    2.001447
Age                         3.841751
dtype: float64

In [29]:
from sklearn.feature_selection import VarianceThreshold

select_features = VarianceThreshold(threshold = 1.0)

In [30]:
X_new = select_features.fit_transform(X_scaled)

In [31]:
X_new.shape

(768, 7)

In [33]:
var_df = pd.DataFrame({'feature names' : list(X_scaled),
                       'variances' : select_features.variances_
                      })

var_df

              feature names  variances
0               Pregnancies   3.923624
1                   Glucose   3.851334
2             BloodPressure   1.521565
3             SkinThickness   0.931795
4                   Insulin   1.268350
5                       BMI   1.974277
6  DiabetesPedigreeFunction   1.998841
7                       Age   3.836749

In [34]:
X_new = pd.DataFrame(X_new)

X_new.head()

          0         1         2         3         4         5         6
0  3.529412  6.709677  4.897959  2.731339  3.149284  2.344150  4.833333
1  0.588235  2.645161  4.285714  1.007569  1.717791  1.165670  1.666667
2  4.705882  8.967742  4.081633  3.328912  1.042945  2.536294  1.833333
3  0.588235  2.903226  4.285714  1.281848  2.024540  0.380017  0.000000
4  0.000000  6.000000  1.632653  2.139752  5.092025  9.436379  2.000000

In [36]:
selected_features = []

for i in range(len(X_new.columns)):
    for j in range(len(X_scaled.columns)):

        if(X_new.iloc[:,i].equals(X_scaled.iloc[:,j])):
            selected_features.append(X_scaled.columns[j])
            
selected_features

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']